@font-face {
  font-family: "WordsFont";
  src: url("../font/poetsen_one/PoetsenOne-Regular.ttf");
}

/* ----------------------------------------------------------------- GENERICS */

:root {
  --roundness: 0.25rem;
  --font: sans serif;
  --bg-color: #1a2122;
  --text-color: #e4dbcd;
  --accent-color: #ffbf00;
  --sub-color: #5e5445;
  --error-color: #df5454;
  --error-extra-color: #714242;
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--sub-color) transparent;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--bg-color);
  font-family: var(--font);
  color: var(--text-color);
}

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--sub-color);
  transition: 0.25s;
  border-radius: 2px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

.hidden {
  display: none !important;
}

/* ------------------------------------------------------------------- LAYOUT */

#page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 800px;
  min-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
}

#bottom-panels {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 500px;
  height: 5rem;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.25s;
}

#bottom-panels.focus {
  opacity: 0;
}

/* ------------------------------------------------------------ BOTTOM PANELS */

.bottom-panel {
  position: absolute;
  top: 5rem;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--sub-color);
  transition: top 0.5s;
}

.bottom-panel.active {
  top: 0;
}

.bottom-panel .group,
.bottom-panel .subgroup {
  display: flex;
  flex-direction: row;
}

.bottom-panel .items-wrapper {
  display: flex;
  flex-direction: row;
}

.bottom-panel .item {
  line-height: 1.5rem;
}

.bottom-panel .item:not(:last-child) {
  margin-right: 0.5em;
}

.bottom-panel .separator {
  padding: 0;
}

key {
  display: inline-block;
  margin-right: 0.3rem;
  padding: 0.1rem 0.3rem;
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: var(--bg-color);
  background-color: var(--sub-color);
  border-radius: 2px;
  transition: 0.3s;
}

button:hover key {
  background-color: var(--text-color);
}

#test-config .group {
  display: flex;
  flex-direction: row;
}

#test-config .group::before {
  content: "[";
  transition: color 0.25s;
}

#test-config .group::after {
  content: "]";
  transition: color 0.25s;
}

#test-config .group:hover::before,
#test-config .group:hover::after {
  color: var(--accent-color);
}

#result-buttons .text-button:not(:last-child) {
  margin-right: 3rem;
}

/* ------------------------------------------------------------------ RESULTS */

#result {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

#result .group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#result .value {
  color: var(--accent-color);
}

#result .main .value {
  font-size: 5rem;
}

/* ------------------------------------------------------------------ POP-UPS */

#notification {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.4em 1em;
  font-size: 0.75rem;
  color: var(--bg-color);
  background-color: var(--text-color);
  border-radius: var(--roundness);
}

#customMode2PopupWrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

#customMode2Popup {
  background: var(--bg-color);
  border-radius: var(--roundness);
  padding: 2rem;
  display: grid;
  gap: 1rem;
  width: 300px;
}

#customMode2Popup .title {
  font-size: 1.5rem;
  color: var(--sub-color);
}

/* -------------------------------------------------------------------- CARET */

#caret {
  position: absolute;
  top: 2.5rem;
  height: 2rem;
  width: 0.2rem;
  background: var(--accent-color);
  border-radius: var(--roundness);
  animation-name: caretFlash;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  transform-origin: top left;
}

@keyframes caretFlash {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

#wordsInput {
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  display: block;
}

#wordsWrapper {
  position: relative;
  height: 6.9rem;
  padding: 0 0.5rem;
  overflow: hidden;
}

#words {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
  font-family: WordsFont, serif;
  user-select: none;
  transition: margin-top 0.3s;
}

#words .filler {
  width: 100%;
  height: 2.3rem;
}

#words .word {
  display: flex;
  margin: 0 1rem 0 0;
  line-height: 2.3rem;
  color: var(--sub-color);
  font-size: 1.5rem;
}

.word.extra-characters:after {
  content: "*";
  width: 0;
  margin-top: 0rem;
  font-size: 1rem;
  color: var(--error-color);
}

.word letter.correct {
  color: var(--text-color);
}

.word letter.corrected {
  color: var(--text-color);
}

.word letter.incorrect {
  color: var(--error-color);
  position:relative;
}

.word letter.incorrect hint {
  position: absolute;
  bottom: -1.2em;
  color: var(--text-color);
  line-height: 1em;
  font-size: .75em;
  text-shadow: none;
  padding: 1px;
  left: 0;
  opacity: .5;
  text-align: center;
  width: 100%;
}

.word letter.incorrect.extra {
  color: var(--error-extra-color);
}

.word letter.missing {
  opacity: 0.5;
}

/* ------------------------------------------------------------------ BUTTONS */

.bottom-panel button {
  color: var(--sub-color);
  background-color: var(--bg-color);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.bottom-panel button:hover,
.bottom-panel button.active {
  color: var(--accent-color);
}

.bottom-panel button:focus {
  outline-color: var(--accent-color);
}

.button {
  color: var(--text-color);
  cursor: pointer;
  transition: 0.25s;
  padding: 0.4rem;
  border-radius: var(--roundness);
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  -webkit-user-select: none;
  align-content: center;
  height: min-content;
  height: -moz-min-content;
  line-height: 1rem;
}

.button.active {
  background: var(--accent-color);
  color: var(--bg-color);
}

.button:hover,
.button:focus {
  color: var(--bg-color);
  background: var(--accent-color);
  outline: none;
}

.text-button {
  margin-right: 0.25rem;
  color: var(--sub-color);
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: 0.25s;
}

.text-button:hover,
.text-button:focus,
.text-button.active {
  color: var(--accent-color);
}

.text-button:hover key {
  background-color: var(--accent-color);
}

.row {
  height: 2rem;
  gap: 0.25rem;
}

@keyframes flashKey {
  from {
    color: var(--bg-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }

  to {
    color: var(--sub-color);
    background-color: var(--bg-color);
    border-color: var(--sub-color);
  }
}
